html {
    zoom:0.7;
}
.button {
    border: none;
    background-color: transparent;
}

body {
    display: flex;
    overflow-x: auto;
}

.top-container {
    margin:auto auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
img {
    transition: 0.5s;
}